#conteneur{
	display:flex;
	flex-direction:row;
	justify-content:center;
	color: black;
	align-items: flex-start;
	text-align: center;
	margin-top:80px;
} 

.btn{
	border:1px solid #F8F9FA;
	padding: 0px 16px;
	margin:11px 4px;
	background-color:#F8F9FA;
	border-radius: 4px;
	height: 36px;
	text-align: center; 
}


img{
	display:block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;

}

a:hover{
	border:black;
}

#header{
	display: flex;
	justify-content: flex-end;
}

.content{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 78vh;
}

#maligne2{
	display: flex;
	justify-content: space-between;
}

#search{
	height:40px;
	width:450px;
	border-radius: 24px;
	border: 1px solid lightgrey;

}
#search:hover{
	box-shadow: 10px 5px 5px grey;
}